extends layout

block content
    div(class="container")
        h2 All the clients
        a(href="/pushall") Push All
        div(class="row")
            div(class="col-lg")
            table(class="table")
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") First Name
                        th(scope="col") Last Name
                        th(scope="col") NIN
                        th(scope="col") Region
                        th(scope="col") Council
                        th(scope="col") Ward
                        th(scope="col") Status
                        th(scope="col") Phone Number
                        th(scope="col") View
                tbody
                    each client in clients
                        tr
                            th(scope="row")= client.id
                            td= client.firstname
                            td= client.lastname
                            td= client.national_id
                            td= client.region
                            td= client.council
                            td= client.ward
                            td= client.status
                            td= client.phone_number
                            td
                                if client.status == 0
                                    a(href='/clients/push/'+client.id+'?page='+currentPage) Push
                                else
                                    a(class="btn-link disabled" href='/client/details/'+client.id) Pushed
        div(class="row")
            block content
                .row
                nav(aria-label='Page navigation example').d-flex.justify-content-center
                    ul.pagination
                        if currentPage > 1
                            li.page-item
                                a.page-link(href=`?page=${currentPage - 1}`) Previous

                        - var i = 1;
                        while i <= pagesCount
                            li.page-item
                                a.page-link(href=`?page=${i}`)= i++

                        if currentPage < pagesCount
                            li.page-item
                                a.page-link(href=`?page=${parseInt(currentPage) + 1}`) Next