extends layout

block content
    div(class="container")
        h2 All the clients
        div(class="row")
            a(href='/clients/pushall') Push All Clients 
            |
            | | 
            a(href='/clients') Reload
        div(class="row")
            div(class="col-lg")
            table(class="table")
                thead
                    tr
                        th(scope="col") ID
                        th(scope="col") First Name
                        th(scope="col") Last Name
                        th(scope="col") NIN
                        th(scope="col") Region
                        th(scope="col") Council
                        th(scope="col") Ward
                        th(scope="col") Phone Number
                        th(scope="col") Edit
                        th(scope="col") View
                tbody
                    each client in clients
                        tr
                            th(scope="row")= client.id
                            td= client.firstname
                            td= client.lastname
                            td= client.national_id
                            td= client.region
                            td= client.council
                            td= client.ward
                            td= client.phone_prefix + client.phone_suffix
                            td
                                a(href="/clients/edit/"+client.uuid) Edit
                            td
                                if client.status == 0
                                    a(href='/clients/push/'+client.uuid+'?page='+currentPage) Push
                                else
                                    a(class="btn-link disabled" href='/clients/push/'+client.uuid) Pushed
        div(class="row")
            block content
                .row
                nav(aria-label='Page navigation').d-flex.justify-content-center
                    ul.pagination
                        if currentPage > 1
                            li.page-item
                                a.page-link(href=`?page=${currentPage - 1}`) Previous

                        if pagesCount < 10
                            - var i = 1;
                                while i <= pagesCount
                                    li.page-item
                                        a.page-link(href=`?page=${i}`)= i++
                        if pagesCount >= 10
                            - var i = 10;
                                while i <= pagesCount
                                    li.page-item
                                        a.page-link(href=`?page=${i}`)= i++
                        else
                            -var i = currentPage - 3
                            while i >= 1 && i <= currentPage
                                li.page-item
                                    a.page-link(href=`?page=${i}`)= i++

                        if currentPage < pagesCount
                            li.page-item
                                a.page-link(href=`?page=${parseInt(currentPage) + 1}`) Next
        div(class="row")
            a(href='/clients/seed' class="text-right badge badge-danger") Regenerate Clients