extends layout

block content
    div(class="container")
        h2(class="mt-5") All the items
        div(class="row mt-3 pl-2")
            a(type="button" class="btn btn-secondary" href='/items') Reload Items
        div(class="row mt-3")
            div(class="col-lg")
            table(class="table")
                thead
                    tr
                        th(scope="col") Name
                        th(scope="col") Batch
                        th(scope="col") Buying Price
                        th(scope="col") Selling Price
                        th(scope="col") Status
                        th(scope="col") Edit
                        th(scope="col") View
                tbody
                    each item in rows
                        tr
                            th(scope="row")= item.name
                            td= item.batch_number
                            td= item.buying_price
                            td= item.selling_price
                            td= item.status
                            td
                                a(class="btn btn-link" href="/items/"+item.id) View
                            td
                                if item.status == 0
                                    p(class="text") Not Submited
                                else
                                    p(class="text-muted") Submitted
